@import url("./header.css");
@import url("./banner.css");
@import url("./carrossel.css");
@import url("./topicos.css");
@import url("./contato.css");
@import url("./rodape.css");
@font-face {
    font-family: Balistic;
    src: url('../fonts/Ballistic\ Script.ttf');
}

:root {
    --cor-de-fundo: #ebecee;
    --branco: #ffffff;
    --rosa: #fcd0cc;
    --laranja: #eb9b00;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    --fonte-tema: "Balistic", Sans-serif;
    --fonte-principal: "Poppins", Sans-serif;
    --azul: #002F52;
    --fonte-secundario: "Josefin Sans", sans-serif;
    --preto: #000;
    --cinza: #474646;
    --cinza-claro: #858585;
    --verde-claro:#01a66e;
    --rosa-claro: #ff85b2;
    --fonte-cards: "Dm Sans", Sans-Serif;
}

body {
    background-color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
}